/* 언어설정 */
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&display=swap');

/* 기본설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {vertical-align: bottom;}

/* 레이아웃 설정 */


header {height: 100px;
    background-color: #CBAE77;
    font-family: "Nanum Gothic", sans-serif;}
.wrap {background-image: url();}
.wrap .main {display: flex;
    width: auto;
    position: relative;
    height: 700px;
    flex-wrap: wrap;}
.wrap .hero {
    position: absolute;
    left: 100px;
    width: 800px;
    height: 700px;
    background-color:rgba(170, 116, 15, 0.4);
    text-align: center;

    }
.info {position: absolute;
    background-color:#009860;
    bottom: 50px;
    left: 100px;
    width: 550px;
    height: 120px;
    border-radius: 20px;}
section {height: 700px;
    background-color: #bb903f;
    text-align: center;}
.wrap section:nth-child(1) {background-image: url(img/main.jpeg);
    background-size: cover;
    background-position: center;}
.wrap section:nth-child(3) {background-color: #009860;}
.wrap section:nth-child(6) {background-color: rgba(187, 144, 63, 0.4);}
/* 헤더설정 */
header {}
.main {display: flex;
    align-items: flex-end;
    position: relative;}
.main h1 {width: 150px;
    height: 90px;}
.main h1 img {max-width: 150px;
    width: 100%;
    margin-top: 10px;}
.main nav ul {display: flex;
    width: 100%;
    justify-content: space-around;}
.main nav {
    width: calc(100% - 150px);
    padding: 10px;
}
.main .util {position: absolute;
    right: 80px;
top: 0;}
.main nav a {font-size: 16px;
    color: #8c5c02;
    z-index: 9999;}
.main ul li img {position: absolute;
    top: 30%;
    left: 160px;
    opacity: 0.9;
    display: none;}
.util ul{display: flex;}
.util div{background-color: #fff;}


/* 미디어쿼리 구간설정 ################################################## */
/* 와이드데스크탑 구간 */
/* 1280px 이상 */
@media(min-width:1280px) {
    .main {width: 1240px;
        margin: 0 auto;}

}