/* 언어설정 */
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&display=swap');

/* 폰트 */
/* font-family: "Nanum Gothic", sans-serif;
font-family: "Merriweather", serif; */




/* 기본설정 */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: bottom;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}


/* 레이아웃 설정 */


header {
    height: 100px;
    background-color: #CBAE77;
}


.wrap .main {
    display: flex;
    width: auto;
    position: relative;
    height: 700px;
    flex-wrap: wrap;
}

.wrap .hero {
    position: absolute;
    left: 100px;
    width: 800px;
    height: 700px;
    background-color: rgba(170, 116, 15, 0.4);
    text-align: center;

}

.info {
    position: absolute;
    background-color: #009860;
    bottom: 50px;
    left: 225px;
    width: 550px;
    height: 120px;
    border-radius: 20px;
}

section {
    height: 700px;
    background-color: #bb903f;
    text-align: center;
}

section h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
    color: #fff;
}

.wrap section:nth-child(1) {
    background-image: url(img/main.png);
    background-size: cover;
    background-position: center;
}

.wrap section:nth-child(3) {
    background-color: #009860;
}

.wrap section:nth-child(6) {
    background-color: rgba(187, 144, 63, 0.4);
}

.wrap section:nth-child(7) {
    height: 1000px;
}

.wrap section:nth-child(8) {
    height: 2400px;
}

.wrap section:nth-child(9) {
    height: 900px;
}
/* 헤더설정 */
header {}

.main {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.main h1 {
    width: 150px;
    height: 90px;
}

.main h1 img {
    max-width: 150px;
    width: 100%;
    margin-top: 10px;
}

/* 네비설정 */

.main nav {
    width: calc(100% - 150px);
    padding: 10px;
}

.main nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.main nav a {
    font-size: 16px;
    color: #8c5c02;
    z-index: 9999;
    display: block;
    padding: 10px;
}

.main nav a:hover {
    color: #fff;
    text-decoration: underline;
}


/* 유틸설정 */

.main .util {
    position: absolute;
    right: 80px;
    top: 0;
}

.util ul {
    display: flex;
}

.util div {
    background-color: #fff;
}


/* 메인화면 설정 */
.hero {
    color: #fff;
}

.hero p {
    width: 85%;
    margin-top: 250px;
}

.hero h1 {
    font-size: 80px;
    width: 100%;
    height: 80px;
}

/* 인포설정 */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_inner ul {
    list-style: disc;
    margin-left: 10px;
}

.info_inner h2 {
    font-size: 24px;
    margin: 0 20px
}

.info_inner .txtBox {
    display: flex;
    color: #fff;
    font-size: 20px;
}

.info_inner .txtBox h2 {
    font-size: 32px;
}

.info_inner .txtBox li {
    letter-spacing: 3px;
}

.info_inner .bottomBox {
    display: flex;
    color: #fff;
    margin-top: 15px;
}

.info_inner .bottomBox li {
    color: #fffdd0;
}

/* 시계아이콘 설정 */

.clock i {
    font-size: 80px;
    left: 2px;
    bottom: 25px;
}

/* 갤러리 설정 */

.gallery .imgBox {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.gallery .imgBox ul {
    display: flex;
    width: 1215px;
    justify-content: space-between;
}

.gallery .imgBox li {
    width: 400px;
    height: 405px;
    margin-rignt: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.gallery .imgBox li a {}

.gallery .imgBox li:nth-child(1) a:nth-child(1) {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

.gallery .imgBox li:nth-child(1) a:nth-child(2) {
    width: 48%;
    height: 150px;
}

.gallery .imgBox li:nth-child(1) a:nth-child(3) {
    width: 48%;
    height: 150px;
}


.gallery .imgBox li:nth-child(3) a:nth-child(1) {
    width: 100%;
    height: 150px;
}

.gallery .imgBox li:nth-child(3) a:nth-child(2) {
    width: 100%;
    height: 150px;
}

.gallery .imgBox img {
    margin: 10px;
}


/* 예약시스템 설정 */

.system {}

.system .form_in {
    display: flex;
    justify-content: space-between;
    background-color: #bb903f;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.system .form_in input {
    padding: 5px;
    margin-top: 5px;
}

.system .form_in span a {
    color: #fff;
}

.system .titleBox {}

.system .titleBox ul {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 100px;
}

.system .titleBox ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.system .titleBox ul li:nth-child(2) {
    border-left: 5px solid #bb903f;
}

.system .titleBox ul li:nth-child(3) {
    border-left: 5px solid #bb903f;
}

.system .titleBox ul li a {
    font-size: 20px;
    display: block;
    padding-left: 100px;
}

.system .titleBox ul li a:hover {
    color: #fff;
    font-weight: bold;
    font-size: 20px
}


.system .listBox {
    position: relative;
    background-color: #bb903f;
    width: 1200px;
    height: 410px;
    border-radius: 60px;
    left: 120px;
}

.system .listBox p {
    text-align: left;
    color: #fff;
    padding: 20px 50px;
}

.system .listBox ul {}

.system .listBox ul li {}

.system .listBox ul li img {
    border-radius: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.system .listBox ul li .img1 {
    left: 20px;
    top: 50px;
}

.system .listBox ul li .img2 {
    left: 475px;
    bottom: 20px;
}

.system .listBox ul li .img3 {
    right: 20px;
    top: 50px;
}

.system .listBox ul li span {
    position: absolute;
    font-size: 50px;
    color: #fff;
    font-family: "Merriweather", serif;
}

.system .listBox ul li .espre {
    left: 50px;
    bottom: 100px;
}

.system .listBox ul li .latte {
    left: 535px;
    bottom: 250px;
}

.system .listBox ul li .cappu {
    right: 20px;
    bottom: 100px;
}

.system .listBox div:nth-child(3) {
    display: none;
}

.system .listBox div:nth-child(4) {
    display: none;
}

/* 리뷰설정 */

.review {display: flex;
    flex-direction: column;
    justify-content: center;}

.review .titleBox {}

.review .titleBox ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
}

.review .titleBox ul li {
    margin: 20px 30px;
}

.review .titleBox ul li:nth-child(2) {
    border-left: 5px solid #2d8d5b;
}

.review .titleBox ul li:nth-child(3) {
    border-left: 5px solid #2d8d5b;
}

.review .titleBox ul li:nth-child(4) {
    border-left: 5px solid #2d8d5b;
}

.review .titleBox ul li:nth-child(5) {
    border-left: 5px solid #2d8d5b;
}

.review .titleBox ul li a {
    display: block;
    font-size: 20px;
    padding-left: 30px;
}

.review .titleBox ul li a:hover {
    color: #fff;
    font-weight: bold;
    font-size: 20px
}

.review .imgBox {
    background-color: #aa740f;
    width: 1300px;
    height: 470px;
    border-radius: 60px;
    display: flex;
    margin-left: 70px;
}

.review .imgBox div {
    width: 400px;
    height: 380px;
    margin: 40px 20px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

.review .imgBox div:nth-child(4) {
    display: none;
}

.review .imgBox div:nth-child(5) {
    display: none;
}

.review .imgBox ul {
    display: flex;
    flex-direction: column;
}

.review .imgBox ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review .imgBox ul li:nth-child(1) {
    margin: 10px 10px;
    width: 140px;
    height: 35px;
    background-color: #009860;
    letter-spacing: 5px;
    border-radius: 60px;
}

.review .imgBox ul li:nth-child(2) {
    letter-spacing: 1px;
}

.review .imgBox ul li:nth-child(3) {
    margin-top: 50px;
}

.review .imgBox ul li a {
    font-size: 20px;
}


/* 오시는길 설정 */

/* 공지사항 설정 */

.notice {
    display: flex;
    justify-content: center;
}

.notice .notice_inner {
    text-align: center;
    margin-top: 40px;
}

.notice .noitce_inner h2 {margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;}

.notice_inner .txtBox {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
}

.notice_inner .txtBox span {
    position: absolute;
    top: 0px;
    right: 20px;
}

.notice_inner .txtBox .titleBox {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 20px;
}

.notice_inner .txtBox .titleBox a {
    font-size: 20px;
}

.notice_inner .listBox {
    margin-top: 20px;
}

.notice_inner .listBox ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.notice_inner .listBox div:nth-child(2) {
    display: none;
}

.notice_inner .listBox div:nth-child(3) {
    display: none;
}

.notice_inner .listBox div:nth-child(4) {
    display: none;
}

.notice_inner .listbox li {}

.notice_inner .listBox a {
    font-size: 18px;
    display: block;
    padding: 20px;
}


/* 온라인전시관 설정 */
.online {
    width: 50%;
    height: auto;
}

.online h2 {text-align: left;
    margin-left: 50px;
    font-size: 28px;
    text-decoration: none;
    margin-top: 40px;}

.online ul {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}


.online .imgBox {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.online .imgBox .online_txt {
    position: absolute;
    color: #fff;
    text-align: left;
    left: 100px;
    bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}

.online .imgBox li:nth-child(2) {
    display: none;
}

.online .imgBox li:nth-child(3) {
    display: none;
}

.around {
    display: flex;
    height: 1000px;
}

.around .txtBox {
    width: 35%;
    background-color: #2d8d5b;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.around .txtBox h2 {
    font-size: 48px;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.around .txtBox span {
    text-decoration: overline;
    text-decoration-color: #bb903f;
}

.around .txtBox p {
    font-size: 18px;
    padding: 0 20px;
}

.around .txtBox i {
    font-size: 50px;
    padding: 30px 20px;
}

.around .txtBox ul {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.around .imgBox {
    width: 65%;
    background-color: #8c5c02;
    display: flex;
    justify-content: center;
    align-items: center;
}

.around .imgBox img {
    width: 370px;
    height: 460px;
}

.around .imgBox ul {
    display: flex;
    overflow: hidden;
    margin-left: 50px;
}

.around .imgBox ul li {
    margin-right: 20px;
}

.around .imgBox .travel {
    background-color: #fff;
    width: 100%;
    height: 160px;
}

.around .imgBox .travel p {
    text-align: left;
    padding: 5px 20px;
}

.around .imgBox .travel p:nth-child(1) {
    padding-top: 10px;
}

.around .imgBox .travel p:nth-child(2) {
    font-size: 36px;
    font-weight: bold;
}

.around .imgBox .travel p:nth-child(3) {
    font-size: 24px;
}

.around .imgBox .travel span {
    float: right;
}

.around .imgBox .travel p i {
    font-size: 20px;
}

.around .imgBox .travel a p {
    font-size: 36px;
    font-weight: bold;
}

/* 체험장 소개 설정 */
.wrap_exp {
    display: flex;
    width: 100%;
    margin: 200px 0;
}

.wrap_exp .imgBox img {
    width: 890px;
    height: 500px;
    border-top-right-radius: 360px;
    border-bottom-right-radius: 360px;
    display: flex;
    margin-right: 20px;
}

.wrap_exp .imgBox_001 img {
    width: 890px;
    height: 450px;
    border-top-left-radius: 360px;
    border-bottom-left-radius: 360px;
    display: flex;
}

.wrap_exp .imgBox img:hover {}

.wrap_exp .txtBox {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.wrap_exp .txtBox h3 {
    font-size: 32px;
    letter-spacing: 4px;
    text-align: center;
}

.wrap_exp .txtBox p {
    text-align: left;
    margin-top: 40px;
}

.wrap_exp .txtBox span {}

.wrap_exp .txtBox span a {
    display: inline-block;
    padding: 20px 190px;
    border: 2px solid #009860;
    background-color: #009860;
    border-radius: 360px;
    opacity: 0.8;
    text-align: center;
    margin-top: 30px;
}

.wrap_exp .txtBox i {
    color: green;
    font-size: 24px;
}

/* 카페운영안내 설정 */
section:nth-child(9) span {
    color: #fff;
}

.cafe {}

.cafe .titleBox {
    display: flex;
    justify-content: center;
}

.cafe .titleBox ul {
    display: flex;
    margin: 20px 0;
}

.cafe .titleBox ul li {
    padding-left: 30px;
    margin: 20px 0;
}

.cafe .titleBox ul li a {
    font-size: 24px;
    font-family: "Merriweather", serif;
    border-left: 1px solid #d9d9d9;
    padding-left: 30px;
}

.cafe .titleBox ul li a:hover {
    color: #fff;
    font-weight: bold;
}

.cafe .titleBox ul li:nth-child(1) a:nth-child(1) {
    border-style: none;
}

.cafe .imgBox {
    display: flex;
    justify-content: center;
}

.cafe .imgBox .listBox ul {
    display: flex;
    position: relative;
}

.cafe .imgBox .listBox ul:nth-child(2) {
    display: none;
}

.cafe .imgBox .listBox ul:nth-child(3) {
    display: none;
}

.cafe .imgBox .listBox ul li {
    width: 350px;
    height: 400px;
    display: flex;
    text-align: left;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #bb903f 0%, #55411d 100%);
    margin: 0px 50px;
    margin-top: 100px;
}

.cafe .imgBox .listBox ul li img {
    position: absolute;
}

.cafe .imgBox .listBox ul li:nth-child(1) img {
    top: 0;
    left: 100px;
}

.cafe .imgBox .listBox ul li:nth-child(2) img {
    top: 0;
    left: 540px;
}

.cafe .imgBox .listBox ul li:nth-child(3) img {
    top: 0;
    right: 85px;
}

.cafe .imgBox .listBox ul li h3 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.cafe .imgBox .listBox ul:nth-child(1) li:nth-child(3) h3 {
    margin-top: 80px;
}

.cafe .imgBox .listBox ul li p {
    text-align: left;
    font-size: 20px;
    padding: 0 20px;
    line-height: 30px;
}

/* 푸터 설정 */


/* 미디어쿼리 구간설정 ################################################## */
/* 와이드데스크탑 구간 */
/* 1280px 이상 */
@media(min-width:1280px) {

    .main,

    .notice,
    .system,
    .review,
    .around,
    .experience,
    .cafe {
        width: 1440px;
        margin: 0 auto;
    }

}