/* 언어설정 */
@charset 'utf-8';

/* 폰트
font-family: "Montserrat", sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

*/

/* 애니메이션 모음 */

@keyframes ani1 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}

}

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}



/* 메인설정 */
header {
    height: 100px;
}

header .main {
    display: flex;
    background-color: #0072BC;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header .main img {
    height: 80px;
    margin-left: 20px;
}

header .main nav {}

header .main nav ul {
    position: absolute;
    display: flex;
    width: 300px;
    height: 80px;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
}

header .main nav ul li:hover {
    font-weight: bold;
}

header .main nav ul li a {
    font-size: 18px;
    display: block;
    padding: 5px;
}

/* 유틸설정 */

header .util {
    width: 300px;
    height: 80px;
    position: absolute;
    right: 0;
}

header .util img {
    height: 50px;
}

header .util ul {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    height: 80px;
    align-items: center;
}

header .util ul li {
    margin-right: 30px;
    color: #fff;
}

header .util ul li a {}

header .util ul li span {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 25px;
    top: 10px;
    text-align: center;
    line-height: 2;
}





/* 세션1 설정 */
/* 비디오 설정 */
section:nth-child(1) {
    width: 100%;
    height: 100vh
}

section:nth-child(1) video {
    width: 100%;
    transform: translateY(-200px);
}


/* 세션2 설정 */

section:nth-child(2) {
    height: 740px;
    background: linear-gradient(145deg, #003366 50%, #0072BC 50%);
}

.info_wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}

.info_wrap .txtBox {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.info_wrap .txtBox h2 {
    font-size: 28px
}

.info_wrap .txtBox p {
    margin: 20px 0;
}

.info_wrap .txtBox h3 {}

.info_wrap .txtBox span {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.info_wrap .imgBox {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.info_wrap .imgBox img {
    margin: 20px 0;
}

/* 세션 3 설정 */
section:nth-child(3) {
    height: 740px;
    background: linear-gradient(145deg, #003366 50%, #0072BC 50%);
    position: relative;
    overflow: hidden;
}

section>h2 {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -350px;
}

.korea_inner{width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;}

.view {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

/* 선수 이미지 설정 */
.korea_inner .imgBox {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 20%;
}

.korea_inner .imgBox img {
    width: 350px;
    height: 350px;
}

/* 선수 소개 설정 */

.korea_inner .txtBox {
    position: absolute;
    right: 20%;
    bottom: 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.korea_inner .txtBox h2 {
    font-size: 80px;
}

.korea_inner .txtBox p {
    font-size: 32px;
    line-height: 2;
}

.korea_inner .txtBox h3 {
    font-size: 40px;
}

.korea_inner .korea_inner_sangwook {width: 100%;
    height: 100%;
    left: 0;
    position: absolute;}

    .korea_inner .korea_inner_yubin {width: 100%;
        height: 100%;
        left: 100%;
        position: absolute;}

        .korea_inner .korea_inner_sunwoo {width: 100%;
            height: 100%;
            left: 100%;
            position: absolute;}


section .korea_inner {
    display: flex;
}

section .korea_inner img {
    border-radius: 15px;
}


/* 세션 4 설정 */
section:nth-child(4) {
    background-color: #303033;
    color: #fff;
}

section:nth-child(4) h1 {
    font-size: 240px;
    text-align: center;
    line-height: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section:nth-child(4) p {
    font-size: 18px;
}

section:nth-child(4)>p {
    text-align: center;
}


.origin {
    background-color: #303033;
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    position: relative;
}

.origin h2 {
    position: absolute;
    top: 20px;
    left: 18%;
    font-size: 50px;
    letter-spacing: 5px;
}

/* 에이드 설명 설정 */
.help {
    background-color: #0056b3;
    position: relative;
    left: 50%;
    top: 10%;
    margin-left: -550px;
    width: 800px;
    height: 80%;
    display: flex;
    border-radius: 60px;
    flex-direction: column;
    justify-content: center;
}

.help h2 {
    color: #05A8F5;
    font-family: "Montserrat", sans-serif;
}

.help h3 {
    font-size: 32px;
    line-height: 3;
    width: 400px;
    text-align: center;
}

.help p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

.help .txtBox {
    height: 100%;
    width: 100%;
    text-align: left;
    position: relative;
    background-color: #0056b3;
    border-radius: 60px;
}

.help .blast {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -250px;
    animation: ani1 linear infinite 5s;
}

.help .txtBox .txtBox_inner {
    width: 450px;
    height: auto;
    margin-left: 50px;
    position: relative;
    top: 50%;
    margin-top: -200px;
}

.help_1 {position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0056b3;
    border-radius: 60px;}


.help_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #561B58;
    border-radius: 60px;
    display: none;
}

.help_2 h2 {
    color: #fff;
    text-align: center;
    width: 500px;
    font-family: "Montserrat", sans-serif;
}

.help_2 h3 {
    font-size: 32px;
    line-height: 3;
    width: 400px;
    text-align: center;
}

.help_2 p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

.help_2 .grape {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -250px;
    animation: ani1 linear infinite 5s;
}

.help_2 img {width: 200px;}

.help_3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 200%;
    background-color: #ef483f;
    border-radius: 60px;
    display: none;
}

.help_3 h2 {
    color: #fff;
    width: 500px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.help_3 h3 {
    font-size: 28px;
    line-height: 3;
    width: 400px;
    text-align: center;
}

.help_3 p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

.help_3 .scarlet {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -250px;
    animation: ani1 linear infinite 5s;
    width: 200px;
    height: 600px;
}

.help_1.on {z-index: 9;}

.help_2.on {z-index: 9;}

.help_3.on {z-index: 9;}


/* 카테고리 설정 */

.category {
    background-color: #fff;
    position: absolute;
    width: 40%;
    height: 100%;
    right: -40%;
    border-radius: 60px;
    top: 0;
}

.category h2 {
    position: absolute;
    left: 30px;
    top: 5%;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bolder;
    color: #000;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}

/* 맛 선택 설정 */
.flavor {
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.flavor p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 2.5;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #D9D9D9;
    display: block;
    text-align: center;
    color: #000;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.flavor .mou.on {
    background-color: #04a6f0;
    color: #fff;
}

.flavor .gra.on {
    background-color: #561b58;
    color: #fff;
    z-index: 999;
}

.flavor .fru.on {
    background-color: #ef483f;
    color: #fff;
}


.flavor p:nth-child(1):hover {
    color: #fff;
    background-color: #04A6F0;
}

.flavor p:nth-child(2):hover {
    color: #fff;
    background-color: #561B58;
}

.flavor p:nth-child(3):hover {
    color: #fff;
    background-color: #ef483f;
}

.help_2.on {z-index: 999;}

.help_3.on {z-index: 999;}

.txtBox.on {z-index: 999;}

/* 세션 6 설정 */

/* 연혁설정 */
.wrap_year {
    margin-top: 200px;
    background-color: #A7A9AC;
    position: relative;
    width: 100%;
    height: 3500px;
    overflow-x: hidden;
}

.wrap_year img {
    width: 250px;
    height: 250px;
}

.wrap_year h2 {
    font-size: 32px;
    line-height: 3;
    color: #003366;
}

.wrap_year h3 {
    color: #05a8f5;
    font-size: 40px;
}

.left1 h3 {
    position: absolute;
    right: 50px;
}

.right2 h3 {
    position: absolute;
    left: 50px;
}

.left3 h3 {
    position: absolute;
    right: 50px;
}

.right4 h3 {
    position: absolute;
    left: 50px;
}

.left5 h3 {
    position: absolute;
    right: 50px;
}

.wrap_year p {
    font-size: 20px;
    line-height: 2;
}

.center {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #000000;
    left: 50%;
    top: 0;
    z-index: 8;
}

.left1 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 600px;
    left: 0;
}

.right1 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    top: 600px;
    right: 0;
}

.left2 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1200px;
    left: 0;
}

.right2 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1200px;
    right: 0;
}

.right2 img {
    width: 100px;
}

.left3 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1800px;
    left: 0;
}

.right3 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1800px;
    right: 0;
}

.left4 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 2400px;
    left: 0;
}

.right4 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 2400px;
    right: 0;
}

.right4 img {
    width: 100px;
}

.left5 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 3000px;
    left: 0;
}

.right5 {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 3000px;
    right: 0;
}

.left1, .left2, .left3, .left4, .left5,
        .right1, .right2, .right3, .right4, .right5 {
            opacity: 0; /* 초기 불투명도 */
            transition: all 2s ease;
        }

.left1 , .left2 , .left3 , .left4 , .left5 {left: -100%;}

.right1 , .right2 , .right3 , .right4 , .right5 {right: -100%;}

.animate-left {
    left: 0;
    opacity: 1;
}


.animate-right {
    right: 0;
    opacity: 1;
}


.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #003366;
    top: 0;
    left: -20px;
    top: 50%;
    margin-top: -20px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #04A6F0;
    top: 0;
    left: -20px;
    top: 50%;
    z-index: 10;
}

.line {
    width: 90px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 15px;
    z-index: 3;

}

.line_left {
    width: 90px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 15px;
    z-index: 3;


}

/* 가로 오토슬라이드 설정 */

.slide {
    position: relative;
}

.slide_img {
    width: 100%;
    height: 800px;
}

.slide_img ul {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide_img li {
    position: absolute;
    width: 100%;
    height: 650px;
    top: 50%;
    margin-top: -325px;
    left: 100%;
    background-size: cover;
}

.slide .slide_img li:nth-child(1) {
    background-image: url(img/main1.jpg);
    left: 0;
    background-position: center;
}

.slide .slide_img li:nth-child(2) {
    background-image: url(img/main2.jpg);
    background-position: center;
}

.slide .slide_img li:nth-child(3) {
    background-image: url(img/main3.jpg);
    background-position: top center;
}

.slide .slide_img li:nth-child(4) {
    background-image: url(img/main4.jpg);
    background-position: center;
}

.btn {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -150px;
}

.btn ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn li {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    line-height: 2;
    margin: 20px 0;
    display: block;
    animation: float infinite 2s
}


.btn li.on {
    background-color: #04A6F0;
    color: #fff;
    font-weight: bold;
}

/* 태극전사 맛 소개 설정 */
section:nth-child(7) {
    height: 2500px;
    color: #fff;
}

section:nth-child(7) h2 {
    font-size: 32px;
    position: relative;
    color: #000;
    left: 0;
    margin-left: 30px;
    margin-bottom: -100px;
}

section:nth-child(7) h3 {
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 2.5;
}

section:nth-child(7) p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 50px;
}

section:nth-child(7) .korea_red {color: red;}

section:nth-child(7) .korea_blue {color: blue;}


.shop_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 스크롤 텍스트 설정 */
content {overflow: hidden;}

.scroll_txt {text-align: center;font-size: 24px;font-weight: 700;padding:50px 0; }

/* 장바구니 버튼 설정 */
.buy {
    width: 200px;
    line-height: 3;
    height: 50px;
    background-color: #04A6F0;
    display: inline-block;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}

.more {
    width: 200px;
    height: 50px;
    background-color: #ff4c4c;
    line-height: 3;
    display: inline-block;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}

/* 마운틴 베리 블라스트 장바구니 버튼 설정 */

.shop_mountain {
    display: flex;
}

.buy_mountain {
    width: 200px;
    line-height: 3;
    height: 50px;
    background-color: #04A6F0;
    display: inline-block;
    border-radius: 30px;
    margin: 0 50px;
    font-size: 16px;
    text-align: center;
}

.more_mountain {
    width: 200px;
    height: 50px;
    background-color: #ff4c4c;
    line-height: 3;
    display: inline-block;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}


/* 패트병 이미지 설정 */
.pat {
    width: 100px;
    height: 250px;
}

/* 선수 이미지 설정 */
.warrior {
    width: 350px;
    height: auto;
}

/* 황선우 이미지 설정 */
.warrior_sunwoo {width: 500px;
    height: 700px;}

.info {}

.info .info_bg {
    width: 100%;
    height: 500px;
    background-color: red;
    position: relative;
    margin: 300px 0;
}


/* 포도맛 설정 */
.info .info_bg .grape {
    display: flex;
    background: linear-gradient(90deg, #561a58 0%, #5c5c5c 100%);
    width: 100%;
    height: 100%;
}

.info .info_bg .grape .txtBox {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 10%;
}

.info .info_bg .grape .imgBox {
    position: absolute;
    right: 5%;
    top: -15%;
}

.info .info_bg .grape .grape_pat {
    position: absolute;
    right: 50%;
    margin-right: -300px;
    bottom: -20%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #561b58;
    transition: all 0.6s;
}

.info .info_bg .grape .grape_pat:hover {
    transform: scale(1.2);
    opacity: 0.8;
}


/* 과일맛 설정 */
.info .info_bg .fruit {
    display: flex;
    background: linear-gradient(270deg, #c93242 0%, #631921 100%);
    width: 100%;
    height: 100%;
}

.info .info_bg .fruit .txtBox {
    position: absolute;
    top: 0;
    right: 10%;
}

.info .info_bg .fruit .imgBox {
    position: absolute;
    left: 5%;
    top: -30%;
}

.info .info_bg .fruit .fruit_pat {
    position: absolute;
    left: 30%;
    bottom: -20%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #C93242;
    transition: all 0.6s;
}

.info .info_bg .fruit .fruit_pat:hover {
    transform: scale(1.2);
    opacity: 0.8;
}


/* 마운틴 맛 설정 */
.info .info_bg .mountain {
    display: flex;
    background: linear-gradient(90deg, #04a6f0 0%, #025f8a 100%);
    width: 100%;
    height: 100%;
}



.info .info_bg .mountain .txtBox {
    position: absolute;
    top: 5%;
    left: 10%;
}

.info .info_bg .mountain .imgBox {
    position: absolute;
    right: 5%;
    top: -10%;
}

.info .info_bg .mountain .mountain_pat {
    position: absolute;
    right: 30%;
    bottom: -20%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #04A6F0;
    transition: all 0.6s;
}

.info .info_bg .mountain .mountain_pat:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

footer {
    width: 100%;
    background-color: #666;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

/* 장바구니 팝업창 설정 */

.shopping_bg {width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;}

.shopping {margin: 0 auto;
    width: 600px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.shopping h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.shopping i {font-size: 60px;
    margin: 20px 0;
    color: #04A6F0;}

.shopping .shop_text {font-size: 24px;}

.shopping .shop_text2 {font-size: 18px;
    margin: 20px 0;}


.shopping .shop_keep {display: inline-block;
    width: 150px;
    height: 50px;
    border: #04A6F0 1px solid;
    border-radius: 15px;
    color: #04A6F0;
    font-weight: bold;
    line-height: 3;
    margin-right: 20px;}

    .shopping .shop_basket {display: inline-block;
        width: 150px;
        height: 50px;
        background-color: #ff4c4c;
        color: #fff;
        font-weight: bold;
        border-radius: 15px;
        line-height: 3;}




/* 미디어 쿼리 구간설정 --------------------------------------------------------------------------------------- */

@media(min-width:1280px) {

    .main,
    .info_inner,
    .info,
    .korea_inner,
    .origin,
    .wrap_year,
    .slide {
        width: 100%;
        margin: 0 auto;
    }

}