/* 언어설정 */
@charset 'utf-8';

/* 폰트
font-family: "Lato", sans-serif;
font-family: "Montserrat", sans-serif;

*/



/* 전체설정 */
* {margin: 0;
    padding: 0;}
img {vertical-align: bottom;}
a {text-decoration: none;
    color: #fff;}
ul, ol {list-style: none;}
body {font-family: "Lato", sans-serif;}



/* 메인설정 */
header {height: 100px;}

header .main {display: flex;
    background-color: blue;
    height: 100px;
    position: fixed;
    width: 100%;}

header .main img {height: 100px;
    margin-left: 20px;}

header .main nav {}

header .main nav ul {position: absolute;
    display: flex;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    }

header .main nav ul li {
}

header .main nav ul li a {font-size: 18px;
    display: block;
    padding: 5px;}

/* 유틸설정 */

header .util {width: 300px;
    height: 100px;
    position: absolute;
    right: 0;}

header .util img {height: 50px;}

header .util ul {display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;}

header .util ul li {margin-right: 30px;}

header .util ul li a {}





/* 세션1 설정 */
/* 비디오 설정 */
section:nth-child(1) {}

section:nth-child(1) video {width: 100%;}


/* 세션2 설정 */

section:nth-child(2) {height: 740px;
    background: linear-gradient(145deg,#05a8f5 50%, #000000 50%);}

.info_wrap {display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;}

.info_wrap .txtBox {font-size: 20px;
    color: #fff;
    margin-right: 20px;}

.info_wrap .txtBox h2 {font-size: 28px}

.info_wrap .txtBox p {margin: 20px 0;}

.info_wrap .txtBox h3 {}

.info_wrap .txtBox span {font-size: 40px;}

.info_wrap .imgBox {display: flex;
    flex-direction: column;}

.info_wrap .imgBox img {margin: 20px 0;}

/* 세션 3 설정 */
section:nth-child(3) {height: 740px;
    background: linear-gradient(145deg,#05a8f5 50%, #000000 50%);
    position: relative;}
section>h2 {text-align: center;}
.view {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* 선수 이미지 설정 */
.korea_inner .imgBox {width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 20%;}

.korea_inner .imgBox img {width: 350px;
    height: 350px;}

/* 선수 소개 설정 */

.korea_inner .txtBox {position: absolute;
    right: 20%;
    bottom: 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .korea_inner .txtBox h2 {font-size: 80px;}

    .korea_inner .txtBox p {font-size: 32px;
    line-height: 2;}

    .korea_inner .txtBox h3 {font-size: 40px;}


section .korea_inner {display: flex;}

section .korea_inner div:nth-child(3) {display: none;}

section .korea_inner div:nth-child(4) {display: none;}

section .korea_inner div:nth-child(5) {display: none;}

section .korea_inner div:nth-child(6) {display: none;}

section .korea_inner img {border-radius: 15px;}



/* 세션 4 설정 */
/* 비디오설정 */

/* 세션 5 설정 */
section:nth-child(5) {background-color: #303033;}
section:nth-child(5) h1 {font-size: 240px;}
section:nth-child(5) p {font-size: 22px;}
.origin {background-color: red;
    width: 100%;
    height: 1000px;
    position: relative;}
.origin h2 {position: absolute;
    top: 0;
    left: 0;}
.help {background-color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;}

.help img {width: 250px;
    height: 250px;}

.category {background-color: green;
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
    right: 20%;}

.flavor {background-color: #05a8f5;
    position: absolute;
    right: 20%;}

.help_2 {display: none;}

.help_3 {display: none;}


/* 세션 6 설정 */

.wrap_year {position: relative;
    width: 100%;
    height: 4000px;}

.wrap_year img {width: 250px;
    height: 250px;}

.wrap_year h2 {font-size: 32px;
    line-height: 3;
    color: #003366;}

.wrap_year h3 {color: #05a8f5;
    font-size: 40px;}

.left1 h3 {position: absolute;
    right: 50px;}

    .right2 h3 {position: absolute;
        left: 50px;}
    .left3 h3 {position: absolute;
        right: 50px;}
        .right4 h3 {position: absolute;
            left: 50px;}
        .left5 h3 {position: absolute;
            right: 50px;}

.wrap_year p {font-size: 20px;
    line-height: 2;}

.center {position: absolute;
    width: 10px;
    height: 100%;
    background-color: #000000;
    left: 50%;
    top: 0;
    z-index: 2;}

.left1 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 600px;
    left: 0;}

.right1 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    top: 600px;
    right: 0;}

.left2 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1200px;
    left: 0;}

.right2 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1200px;
    right: 0;
    }

.left3 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1800px;
    left: 0;}

.right3 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 1800px;
    right: 0;
}

.left4 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 2400px;
    left: 0;}

.right4 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 2400px;
    right: 0;}

.left5 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 3000px;
    left: 0;}

.right5 {position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    top: 3000px;
    right: 0;}

.circle {position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #003366;
    top: 0;
    left: -20px;
    top: 50%;
    margin-top: -20px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;}

.circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #04A6F0;
    top: 0;
    left: -20px;
    top: 50%;
    z-index: 5;}

.line {width: 90px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 15px;
    z-index: 3;

}

.line_left {
    width: 90px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 15px;
    z-index: 3;


}

/* 세션 7 설정 */

section:nth-child(7) {width: 100%;
    height: 1400px;}


/* 세션 8 설정 */

section:nth-child(8) {width: 100%;
    height: 4000px;}

section:nth-child(8) h2 {text-align: center;}


.grape {position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#561a58 0%, #5c5c5c 80%);
    margin-bottom: 200px;}
.txtBox {position: absolute;}
.imgBox {position: absolute;
    right: 150px;
    bottom: 0px;}


.fruit {position: relative;
    width: 100%;
    height: 100%;
    background-color: red;}

.mountain {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: blue;
}


/* 미디어 쿼리 구간설정 --------------------------------------------------------------------------------------- */ 

@media(min-width:1280px) {
    .main {width: 100%;
        margin: 0 auto;}

}